"*":
  "atom-beautify":
    css:
      indent_size: 2
      selector_separator_newline: true
    general:
      _analyticsUserId: "a2882b69-ff5d-4531-aa4a-75c4c074fb75"
    html:
      indent_size: 2
      wrap_attributes_indent_size: 2
    less:
      indent_size: 2
    scss:
      indent_size: 2
  "atom-csscomb":
    executeOnSave: true
  "autocomplete-plus": {}
  "color-picker":
    abbreviateValues: true
    uppercaseColorValues: true
  core:
    audioBeep: false
    closeEmptyWindows: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "minimap"
      "nuclide"
      "atom-beautify"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "mplus-1mn-regular"
    fontSize: 17
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "27e5bd3f-a726-3af3-2566-9e1d966f1beb"
  linter: {}
  metrics:
    userId: "16ae327c80bdc1a1a93d7a684515599109a47157"
  minimap: {}
  nuclide:
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-home":
      showHome: false
  pigments:
    markerType: "dot"
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  "release-notes":
    viewedVersion: "0.81.0"
  tabs:
    usePreviewTabs: true
  welcome:
    showOnStartup: false
